body {
  margin: 0;
  overflow: hidden;

  font-family: "Open Sans", sans-serif;
  font-size: 16pt;

  text-align: center;
  //background-color: rgba(0,0,100,0.05);
}

h1 {
  font-weight: 600;
}

#drawing_area {
  width: 90vw;
  height: 70vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn {
  font-size: 12pt;
  font-family: "Open Sans", sans-serif;

  padding:0.8em 2em 0.8em 2em;
  border-radius: 1em;
  box-shadow: 4px 7px 10px -5px rgba(0,0,0,0.4);
}

.btn.primary {
  background-color: rgba(100, 60, 255, 1);
  border: 1px solid rgba(100, 60, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.btn.primary:active {
  background-color: rgba(74, 45, 191, 1);
  border: 1px solid rgba(74, 45, 191, 1);
  color: rgba(255, 255, 255, 1);
}
